:root {
    --color-earth: rgba(0, 214, 252, 0.66);
    --color-sun: rgba(255, 217, 0);
    --color-asteroid: #f8a69d;
    --color-comet: #fcfeff;
    --color-dwarf-planet: beige;
    --color-moon: #bdc3c7;
    --color-planet: #87cfeb3a;

}

.hidden {
    opacity: 0 !important;
    display: none;
}

.circle {
    border-radius: 50%;
    opacity: 2%;
    position: absolute;
    transition: all .5s;
    transition: border-radius 0;
    border: 1px solid lightgray;
    cursor: pointer;
}

.circle:hover {
    opacity: 100% !important;
}

.moon {
    background-color: var(--color-moon);
}

.planet {
    background-color: var(--color-planet);
    opacity: 50%;
    border: 1px solid skyblue;
}

.dwarf-planet {
    background-color: var(--color-dwarf-planet);
}

.asteroid {
    background-color: var(--color-asteroid);
}

.comet {
    background-color: var(--color-comet);
}

.sun {
    border-radius: 50%;
    position: absolute;
    transition: all .5s;
    width: 50px;
    height: 50px;
    background-color: var(--color-sun);
    box-shadow: 0 0 20px 0 var(--color-sun);
    cursor: pointer;
}

.earth {
    background-color: var(--color-earth);
    box-shadow: 0 0 100px 0;
    border-color: var(--color-earth);
    box-shadow: 0 0 40px 0 var(--color-earth);

}